git+https://github.com/accurs/uwuipy
git+https://github.com/PythonistaGuild/Wavelink
anyio
asyncpg
boltons
cairosvg
cashews[redis]
colorama
colorthief
cryptography
dateparser
discord
humanize
jishaku
psutil
pydantic
pydantic-settings
redis
tornado
typing_extensions
wand
xxhash
lxml
humanfriendly
pylast
asyncspotify
lru-dict
distributed
rapidfuzz
arrow
colorlog
aiohttp_cors
minio
PyNaCl
